{:dependencies [[re-frame "0.10.5"]
                [day8.re-frame/tracing "0.5.1"]
                [re-frisk "0.5.4.1"]
                [binaryage/devtools "0.9.8"]
                [cider/cider-nrepl "0.16.0"]]

 :source-paths ["src"]

 :nrepl        {:port 8230}

 :builds       {:dev
                {:target     :browser
                 :modules    {:base {:entries [{{ns-name}}.core]}}
                 :output-dir "resources/public/js/compiled"
                 :asset-path "/js/compiled"
                 :dev        {:compiler-options {:closure-defines {re_frame.trace.trace_enabled?        true
                                                                   day8.re-frame.tracing.trace-enabled? true}}}
                 :devtools   {:before-load  tauricljs.core.core/suspend!
                              :after-load   tauricljs.core.core/resume
                              :http-root    "resources/public"
                              :http-handler shadow.http.push-state/handle
                              :http-port    3449
                              :preloads     [devtools.preload
                                             re-frisk.preload]}}
                :prod
                {:target     :browser
                 :modules    {:base {:entries [{{ns-name}}.core]}}
                 :output-dir "resources/public/js/compiled"
                 :asset-path "/js/compiled"}}}
